In [445]:
import pandas as pd
from pprint import pprint as pp
import datetime as dt
from sklearn import preprocessing

# Importing and cleaning
Action taken:
 - Importing the full game data and selecting only the records that are regular season games. <br>
 - Drop all of the columns that have NaN values. After review they arent neccesary for this process. <br>
 - Reset index

In [446]:
df = pd.read_csv("../data/interim/game_data_full.csv")
df_reg = df.loc[df['seasonType'] == "REG"]

In [447]:
print(len(df), "records in the original dataframe.")
print(len(df_reg), "records in the regular season games dataframe.")
print(len(df_reg.columns), "columns in the reg df.")

3319 records in the original dataframe.
2560 records in the regular season games dataframe.
242 columns in the reg df.

In [448]:
for col, col_data in df_reg.iteritems():
    nan_count = col_data.isna().sum()
    if nan_count > 0:
        if col == "siteState":
            continue
        else:
            df_reg = df_reg.drop(col, axis=1)

In [449]:
print(len(df_reg.columns), "columns in the reg df.")

216 columns in the reg df.

In [450]:
df_reg = df_reg.reset_index()
df_reg = df_reg.drop('index', axis=1)

In [451]:
df_reg.head()

,season,seasonType,week,gameKey,gameDate,gameTimeEastern,gameTimeLocal,isoTime,homeTeamId,visitorTeamId,...,VreceivingReceptions,VreceivingTouchdowns,VreceivingLong,VreceivingYards,VreceivingFumbles,VrecevingAverageYards,VtotalTurnovers,VtotalPointsScored,VtimeOfPossSeconds,VavgTimeOfPossession
0,2009,REG,1,54467,09/10/2009,20:30:00,20:30:00,1252629000000,3900,2100,...,22,1,57,244,1,11.1,2,10,1701,28:21
1,2009,REG,1,54468,09/13/2009,13:00:00,13:00:00,1252861200000,200,2700,...,21,1,21,176,2,8.4,4,7,1747,29:07
2,2009,REG,1,54476,09/13/2009,13:00:00,13:00:00,1252861200000,4900,1200,...,16,3,80,353,0,22.1,0,34,1588,26:28
3,2009,REG,1,54475,09/13/2009,13:00:00,12:00:00,1252861200000,3300,1540,...,16,0,64,205,0,12.8,3,27,1410,23:30
4,2009,REG,1,54474,09/13/2009,13:00:00,13:00:00,1252861200000,2200,2250,...,14,0,26,122,0,8.7,0,12,1564,26:04

# Extract only neccesary columns

In [452]:
columns_to_keep = ['season', 'week', 'gameDate', 'gameTimeEastern', 
                   'homeNickname', 'visitorNickname', 'siteId', 
                   'siteCity', 'siteState', 'roofType', 'visitorTeamScore', 
                   'homeTeamScore', 'HfirstDownsTotal', 'HfirstDownsByRushing', 
                   'HfirstDownsByPassing', 'HfirstdownsByPenalty', 'HthirdDownAttempted', 
                   'HthirdDownMade', 'HfourthDownAttempted', 'HfourthDownMade', 
                   'HoffensiveYardsTotal', 'HoffensiveAvgYardsPerPlay', 
                   'HrushingPlays', 'HrushingYardsTotal', 'HrushingAvgYardsPerPlay', 
                   'HrushingLong', 'HpassingYardsTotal', 'HpassingNetYards', 
                   'HpassingAttempts', 'HpassingCompletions', 'HpassingInterceptions', 
                   'HpassingAvgYardsPerPlay', 'HpassingSacks', 'HpassingPasserRating', 
                   'HfieldGoalAttempted', 'HfieldGoalBlocked', 'HfieldGoalMade', 
                   'HextraTwoPointAtt', 'HextraTwoPointMade', 'HtotalExtraPointAtt', 
                   'HtotalExtraPointMade', 'HtouchdownsTotal', 'HtouchdownsRushing', 
                   'HtouchdownsPassing', 'HtouchdownsDefensive', 'Hpenalties', 
                   'HpenaltiesYards', 'HdefensiveInterceptions',
                   'HdefensiveInterceptionsTds', 'HdefensiveInterceptionsYards', 'HdefensiveSacks',
                   'HdefensiveSafeties', 'HdefensiveTotalTackles', 'HfumblesTotal', 
                   'HfumblesLost', 'HkickReturns', 'HkickReturnsTouchdowns', 
                   'HkickingFgAttMade1To19', 'HkickingFgAttMade20To29', 'HkickingFgAttMade30To39', 
                   'HkickingFgAttMade40To49', 'HkickingFgAttMade50plus', 'HpuntReturns', 
                   'HpuntReturnsTouchdowns', 'HreceivingReceptions', 'HreceivingTouchdowns', 
                   'HreceivingLong', 'HreceivingYards', 'HreceivingFumbles', 
                   'HrecevingAverageYards', 'HtotalTurnovers', 'HtotalPointsScored', 
                   'HtimeOfPossSeconds', 'VfirstDownsTotal', 'VfirstDownsByRushing', 
                   'VfirstDownsByPassing', 'VfirstdownsByPenalty', 'VthirdDownAttempted', 
                   'VthirdDownMade', 'VfourthDownAttempted', 'VfourthDownMade', 
                   'VoffensiveYardsTotal', 'VoffensiveAvgYardsPerPlay', 'VrushingPlays', 
                   'VrushingYardsTotal', 'VrushingAvgYardsPerPlay', 'VrushingLong', 
                   'VpassingYardsTotal', 'VpassingNetYards', 'VpassingAttempts', 
                   'VpassingCompletions', 'VpassingInterceptions', 'VpassingAvgYardsPerPlay', 
                   'VpassingSacks', 'VpassingPasserRating', 
                   'VfieldGoalAttempted', 'VfieldGoalBlocked', 'VfieldGoalMade', 
                   'VextraTwoPointAtt', 'VextraTwoPointMade', 'VtotalExtraPointAtt', 
                   'VtotalExtraPointMade', 'VtouchdownsTotal', 'VtouchdownsRushing', 
                   'VtouchdownsPassing', 'VtouchdownsDefensive', 'Vpenalties', 
                   'VpenaltiesYards', 'VdefensiveInterceptions',
                   'VdefensiveInterceptionsTds', 'VdefensiveInterceptionsYards', 'VdefensiveSacks', 
                   'VdefensiveSafeties', 'VdefensiveTotalTackles', 'VfumblesTotal', 
                   'VfumblesLost', 'VkickReturns', 'VkickReturnsTouchdowns', 
                   'VkickingFgAttMade1To19', 'VkickingFgAttMade20To29', 'VkickingFgAttMade30To39', 
                   'VkickingFgAttMade40To49', 'VkickingFgAttMade50plus', 'VpuntReturns', 
                   'VpuntReturnsTouchdowns', 'VreceivingReceptions', 'VreceivingTouchdowns', 
                   'VreceivingLong', 'VreceivingYards', 'VreceivingFumbles', 'VrecevingAverageYards', 
                   'VtotalTurnovers', 'VtotalPointsScored', 'VtimeOfPossSeconds']

In [453]:
df_clean = df_reg[columns_to_keep]

In [454]:
print(len(df_clean))
df_clean.head()

2560

,season,week,gameDate,gameTimeEastern,homeNickname,visitorNickname,siteId,siteCity,siteState,roofType,...,VpuntReturnsTouchdowns,VreceivingReceptions,VreceivingTouchdowns,VreceivingLong,VreceivingYards,VreceivingFumbles,VrecevingAverageYards,VtotalTurnovers,VtotalPointsScored,VtimeOfPossSeconds
0,2009,1,09/10/2009,20:30:00,Steelers,Titans,5411,Pittsburgh,PA,OUTDOOR,...,0,22,1,57,244,1,11.1,2,10,1701
1,2009,1,09/13/2009,13:00:00,Falcons,Dolphins,2053,Atlanta,GA,INDOOR,...,0,21,1,21,176,2,8.4,4,7,1747
2,2009,1,09/13/2009,13:00:00,Buccaneers,Cowboys,3697,Tampa,FL,OUTDOOR,...,0,16,3,80,353,0,22.1,0,34,1588
3,2009,1,09/13/2009,13:00:00,Saints,Lions,2870,New Orleans,LA,INDOOR,...,0,16,0,64,205,0,12.8,3,27,1410
4,2009,1,09/13/2009,13:00:00,Colts,Jaguars,2878,Indianapolis,IN,RETRACTABLE,...,0,14,0,26,122,0,8.7,0,12,1564

In [455]:
df_clean.to_csv("../data/processed/game_data_clean(reg).csv", index=False)

# Exploration

In [456]:
for col, col_data in df_clean.iteritems():
    if df[col].dtype == object:
        if "_" in str(col_data[0]):
            df_clean = df_clean.drop(col, axis=1)
        else:
            print(col)

gameDate
gameTimeEastern
homeNickname
visitorNickname
siteCity
siteState
roofType

In [457]:
df_clean.head()

,season,week,gameDate,gameTimeEastern,homeNickname,visitorNickname,siteId,siteCity,siteState,roofType,...,VpuntReturnsTouchdowns,VreceivingReceptions,VreceivingTouchdowns,VreceivingLong,VreceivingYards,VreceivingFumbles,VrecevingAverageYards,VtotalTurnovers,VtotalPointsScored,VtimeOfPossSeconds
0,2009,1,09/10/2009,20:30:00,Steelers,Titans,5411,Pittsburgh,PA,OUTDOOR,...,0,22,1,57,244,1,11.1,2,10,1701
1,2009,1,09/13/2009,13:00:00,Falcons,Dolphins,2053,Atlanta,GA,INDOOR,...,0,21,1,21,176,2,8.4,4,7,1747
2,2009,1,09/13/2009,13:00:00,Buccaneers,Cowboys,3697,Tampa,FL,OUTDOOR,...,0,16,3,80,353,0,22.1,0,34,1588
3,2009,1,09/13/2009,13:00:00,Saints,Lions,2870,New Orleans,LA,INDOOR,...,0,16,0,64,205,0,12.8,3,27,1410
4,2009,1,09/13/2009,13:00:00,Colts,Jaguars,2878,Indianapolis,IN,RETRACTABLE,...,0,14,0,26,122,0,8.7,0,12,1564

In [458]:
for col, col_data in df_clean.iteritems():
    if df[col].dtype == object:
        print(col)

gameDate
gameTimeEastern
homeNickname
visitorNickname
siteCity
siteState
roofType

In [459]:
teams = df_clean['homeNickname'].unique()
teams.sort()

In [460]:
team_dict = {}
value = 0
for team in teams:
    value += 1
    team_dict.update( {team : value} )

In [461]:
df_clean = df_clean.replace({"homeNickname": team_dict})
df_clean = df_clean.replace({"visitorNickname": team_dict})

df_clean['homeNickname'] = pd.to_numeric(df_clean['homeNickname'])
df_clean['visitorNickname'] = pd.to_numeric(df_clean['visitorNickname'])

In [462]:
df_clean.head()

,season,week,gameDate,gameTimeEastern,homeNickname,visitorNickname,siteId,siteCity,siteState,roofType,...,VpuntReturnsTouchdowns,VreceivingReceptions,VreceivingTouchdowns,VreceivingLong,VreceivingYards,VreceivingFumbles,VrecevingAverageYards,VtotalTurnovers,VtotalPointsScored,VtimeOfPossSeconds
0,2009,1,09/10/2009,20:30:00,29,31,5411,Pittsburgh,PA,OUTDOOR,...,0,22,1,57,244,1,11.1,2,10,1701
1,2009,1,09/13/2009,13:00:00,15,13,2053,Atlanta,GA,INDOOR,...,0,21,1,21,176,2,8.4,4,7,1747
2,2009,1,09/13/2009,13:00:00,7,12,3697,Tampa,FL,OUTDOOR,...,0,16,3,80,353,0,22.1,0,34,1588
3,2009,1,09/13/2009,13:00:00,27,19,2870,New Orleans,LA,INDOOR,...,0,16,0,64,205,0,12.8,3,27,1410
4,2009,1,09/13/2009,13:00:00,11,17,2878,Indianapolis,IN,RETRACTABLE,...,0,14,0,26,122,0,8.7,0,12,1564

In [463]:
for col, col_data in df_clean.iteritems():
    if df_clean[col].dtype == object:
        print(df_clean[col].dtype, col)

object gameDate
object gameTimeEastern
object siteCity
object siteState
object roofType

In [464]:
roofs = df_clean['roofType'].unique()
roofs.sort()

In [465]:
roofs_dict = {}
value = 0
for roof in roofs:
    value += 1
    roofs_dict.update( {roof : value} )

In [466]:
roofs_dict

{'INDOOR': 1, 'OUTDOOR': 2, 'RETRACTABLE': 3}

In [467]:
df_clean = df_clean.replace({"roofType": roofs_dict})
df_clean['roofType'] = pd.to_numeric(df_clean['roofType'])

In [468]:
df_clean.head()

,season,week,gameDate,gameTimeEastern,homeNickname,visitorNickname,siteId,siteCity,siteState,roofType,...,VpuntReturnsTouchdowns,VreceivingReceptions,VreceivingTouchdowns,VreceivingLong,VreceivingYards,VreceivingFumbles,VrecevingAverageYards,VtotalTurnovers,VtotalPointsScored,VtimeOfPossSeconds
0,2009,1,09/10/2009,20:30:00,29,31,5411,Pittsburgh,PA,2,...,0,22,1,57,244,1,11.1,2,10,1701
1,2009,1,09/13/2009,13:00:00,15,13,2053,Atlanta,GA,1,...,0,21,1,21,176,2,8.4,4,7,1747
2,2009,1,09/13/2009,13:00:00,7,12,3697,Tampa,FL,2,...,0,16,3,80,353,0,22.1,0,34,1588
3,2009,1,09/13/2009,13:00:00,27,19,2870,New Orleans,LA,1,...,0,16,0,64,205,0,12.8,3,27,1410
4,2009,1,09/13/2009,13:00:00,11,17,2878,Indianapolis,IN,3,...,0,14,0,26,122,0,8.7,0,12,1564

In [469]:
cities = df_clean['siteCity'].unique()
cities.sort()
city_dict = {}
value = 0
for city in cities:
    value += 1
    city_dict.update( {city : value} )
    
df_clean = df_clean.replace({"siteCity": city_dict})
df_clean['siteCity'] = pd.to_numeric(df_clean['siteCity'])

In [470]:
states = df_clean['siteState'].unique()
states_dict = {}
value = 0
for state in states:
    value += 1
    states_dict.update( {state : value} )
    
df_clean = df_clean.replace({"siteState": states_dict})
df_clean['siteState'] = pd.to_numeric(df_clean['siteState'])

In [471]:
df_clean.head()

,season,week,gameDate,gameTimeEastern,homeNickname,visitorNickname,siteId,siteCity,siteState,roofType,...,VpuntReturnsTouchdowns,VreceivingReceptions,VreceivingTouchdowns,VreceivingLong,VreceivingYards,VreceivingFumbles,VrecevingAverageYards,VtotalTurnovers,VtotalPointsScored,VtimeOfPossSeconds
0,2009,1,09/10/2009,20:30:00,29,31,5411,31,1,2,...,0,22,1,57,244,1,11.1,2,10,1701
1,2009,1,09/13/2009,13:00:00,15,13,2053,2,2,1,...,0,21,1,21,176,2,8.4,4,7,1747
2,2009,1,09/13/2009,13:00:00,7,12,3697,38,3,2,...,0,16,3,80,353,0,22.1,0,34,1588
3,2009,1,09/13/2009,13:00:00,27,19,2870,26,4,1,...,0,16,0,64,205,0,12.8,3,27,1410
4,2009,1,09/13/2009,13:00:00,11,17,2878,16,5,3,...,0,14,0,26,122,0,8.7,0,12,1564

In [472]:
for col, col_data in df_clean.iteritems():
    if df_clean[col].dtype == object:
        print(df_clean[col].dtype, col)

object gameDate
object gameTimeEastern

In [473]:
gds = df_clean['gameDate'].unique()
gd_dict = {}
value = 0
for gd in gds:
    value += 1
    gd_dict.update( {gd : value} )
    
df_clean = df_clean.replace({"gameDate": gd_dict})
df_clean['gameDate'] = pd.to_numeric(df_clean['gameDate'])

In [474]:
gdtime = df_clean['gameTimeEastern'].unique()
gdtime_dict = {}
value = 0
for time in gdtime:
    value += 1
    gdtime_dict.update( {time : value} )
    
df_clean = df_clean.replace({"gameTimeEastern": gdtime_dict})
df_clean['gameTimeEastern'] = pd.to_numeric(df_clean['gameTimeEastern'])

In [475]:
df_clean.head()

,season,week,gameDate,gameTimeEastern,homeNickname,visitorNickname,siteId,siteCity,siteState,roofType,...,VpuntReturnsTouchdowns,VreceivingReceptions,VreceivingTouchdowns,VreceivingLong,VreceivingYards,VreceivingFumbles,VrecevingAverageYards,VtotalTurnovers,VtotalPointsScored,VtimeOfPossSeconds
0,2009,1,1,1,29,31,5411,31,1,2,...,0,22,1,57,244,1,11.1,2,10,1701
1,2009,1,2,2,15,13,2053,2,2,1,...,0,21,1,21,176,2,8.4,4,7,1747
2,2009,1,2,2,7,12,3697,38,3,2,...,0,16,3,80,353,0,22.1,0,34,1588
3,2009,1,2,2,27,19,2870,26,4,1,...,0,16,0,64,205,0,12.8,3,27,1410
4,2009,1,2,2,11,17,2878,16,5,3,...,0,14,0,26,122,0,8.7,0,12,1564

In [476]:
for col, col_data in df_clean.iteritems():
    if df_clean[col].dtype == object:
        print(df_clean[col].dtype, col)

In [477]:
columns_not_standardized = ['gameDate', 'gameTimeEastern', 'homeNickname', 'visitorNickname',
                            'siteCity', 'siteState', 'roofType']

In [478]:
df_objects = df_clean[columns_not_standardized]
df_clean = df_clean.drop(columns_not_standardized, axis=1)

In [479]:
df_objects.head()

,gameDate,gameTimeEastern,homeNickname,visitorNickname,siteCity,siteState,roofType
0,1,1,29,31,31,1,2
1,2,2,15,13,2,2,1
2,2,2,7,12,38,3,2
3,2,2,27,19,26,4,1
4,2,2,11,17,16,5,3

In [480]:
df_clean.head()

,season,week,siteId,visitorTeamScore,homeTeamScore,HfirstDownsTotal,HfirstDownsByRushing,HfirstDownsByPassing,HfirstdownsByPenalty,HthirdDownAttempted,...,VpuntReturnsTouchdowns,VreceivingReceptions,VreceivingTouchdowns,VreceivingLong,VreceivingYards,VreceivingFumbles,VrecevingAverageYards,VtotalTurnovers,VtotalPointsScored,VtimeOfPossSeconds
0,2009,1,5411,10,13,19,1,18,0,14,...,0,22,1,57,244,1,11.1,2,10,1701
1,2009,1,2053,7,19,19,3,15,1,15,...,0,21,1,21,176,2,8.4,4,7,1747
2,2009,1,3697,34,21,26,10,14,2,13,...,0,16,3,80,353,0,22.1,0,34,1588
3,2009,1,2870,27,45,28,10,16,2,13,...,0,16,0,64,205,0,12.8,3,27,1410
4,2009,1,2878,12,14,21,4,15,2,14,...,0,14,0,26,122,0,8.7,0,12,1564

In [481]:
def get_outcomes(df_row):
    if df_row['visitorTeamScore'] == df_row['homeTeamScore']:
        value = "D"
    elif df_row['visitorTeamScore'] > df_row['homeTeamScore']:
        value = "V"
    else:
        value = "H"
    return value

In [482]:
df_clean['outcomes'] = df_clean.apply(get_outcomes, axis=1)

In [483]:
df_clean.head()

,season,week,siteId,visitorTeamScore,homeTeamScore,HfirstDownsTotal,HfirstDownsByRushing,HfirstDownsByPassing,HfirstdownsByPenalty,HthirdDownAttempted,...,VreceivingReceptions,VreceivingTouchdowns,VreceivingLong,VreceivingYards,VreceivingFumbles,VrecevingAverageYards,VtotalTurnovers,VtotalPointsScored,VtimeOfPossSeconds,outcomes
0,2009,1,5411,10,13,19,1,18,0,14,...,22,1,57,244,1,11.1,2,10,1701,H
1,2009,1,2053,7,19,19,3,15,1,15,...,21,1,21,176,2,8.4,4,7,1747,H
2,2009,1,3697,34,21,26,10,14,2,13,...,16,3,80,353,0,22.1,0,34,1588,V
3,2009,1,2870,27,45,28,10,16,2,13,...,16,0,64,205,0,12.8,3,27,1410,H
4,2009,1,2878,12,14,21,4,15,2,14,...,14,0,26,122,0,8.7,0,12,1564,H

In [484]:
df_outcomes = df_clean['outcomes']
df_clean = df_clean.drop('outcomes', axis=1)

In [485]:
print(len(df_clean))
print(len(df_objects))
print(len(df_outcomes))

2560
2560
2560

In [486]:
print('Team Dictionary: ')
pp(team_dict)
print()
print('Roof Dictionary')
pp(roofs_dict)
print()
print('City Dictionary')
pp(city_dict)
print()
print('State Dictionary')
pp(states_dict)
print()
print('Game Date Dictionary')
pp(gd_dict)
print()
print('Game Time Dictionary')
pp(gdtime_dict)

Team Dictionary:
{'49ers': 1,
 'Bears': 2,
 'Bengals': 3,
 'Bills': 4,
 'Broncos': 5,
 'Browns': 6,
 'Buccaneers': 7,
 'Cardinals': 8,
 'Chargers': 9,
 'Chiefs': 10,
 'Colts': 11,
 'Cowboys': 12,
 'Dolphins': 13,
 'Eagles': 14,
 'Falcons': 15,
 'Giants': 16,
 'Jaguars': 17,
 'Jets': 18,
 'Lions': 19,
 'Packers': 20,
 'Panthers': 21,
 'Patriots': 22,
 'Raiders': 23,
 'Rams': 24,
 'Ravens': 25,
 'Redskins': 26,
 'Saints': 27,
 'Seahawks': 28,
 'Steelers': 29,
 'Texans': 30,
 'Titans': 31,
 'Vikings': 32}

Roof Dictionary
{'INDOOR': 1, 'OUTDOOR': 2, 'RETRACTABLE': 3}

City Dictionary
{'Arlington': 1,
 'Atlanta': 2,
 'Baltimore': 3,
 'Carson': 4,
 'Charlotte': 5,
 'Chicago': 6,
 'Cincinnati': 7,
 'Cleveland': 8,
 'Denver': 9,
 'Detroit': 10,
 'East Rutherford': 11,
 'Foxborough': 12,
 'Glendale': 13,
 'Green Bay': 14,
 'Houston': 15,
 'Indianapolis': 16,
 'Jacksonville': 17,
 'Kansas City': 18,
 'Landover': 19,
 'London': 20,
 'Los Angeles': 21,
 'Mexico City': 22,
 'Miami Gardens': 23,
 'Minneapolis': 24,
 'Nashville': 25,
 'New Orleans': 26,
 'Oakland': 27,
 'Opa Locka': 28,
 'Orchard Park': 29,
 'Philadelphia': 30,
 'Pittsburgh': 31,
 'San Diego': 32,
 'San Francisco': 33,
 'Santa Clara': 34,
 'Seattle': 35,
 'St. Louis': 36,
 'St.Louis': 37,
 'Tampa': 38,
 'Toronto': 39,
 'Twickenham': 40}

State Dictionary
{nan: 23,
 'AZ': 12,
 'CA': 15,
 'CO': 21,
 'FL': 3,
 'GA': 2,
 'IL': 20,
 'IN': 5,
 'LA': 4,
 'MA': 14,
 'MD': 7,
 'MI': 16,
 'MN': 22,
 'MO': 18,
 'NC': 8,
 'NJ': 11,
 'NY': 19,
 'OH': 9,
 'ON': 24,
 'PA': 1,
 'TN': 17,
 'TX': 6,
 'WA': 10,
 'WI': 13}

Game Date Dictionary
{'01/01/2012': 128,
 '01/01/2017': 376,
 '01/02/2011': 85,
 '01/03/2010': 42,
 '01/03/2016': 325,
 '09/04/2014': 225,
 '09/05/2012': 129,
 '09/05/2013': 177,
 '09/06/2018': 427,
 '09/07/2014': 226,
 '09/07/2017': 377,
 '09/08/2011': 86,
 '09/08/2013': 178,
 '09/08/2014': 227,
 '09/08/2016': 326,
 '09/09/2010': 43,
 '09/09/2012': 130,
 '09/09/2013': 179,
 '09/09/2018': 428,
 '09/10/2009': 1,
 '09/10/2012': 131,
 '09/10/2015': 275,
 '09/10/2017': 378,
 '09/10/2018': 429,
 '09/11/2011': 87,
 '09/11/2014': 228,
 '09/11/2016': 327,
 '09/11/2017': 379,
 '09/12/2010': 44,
 '09/12/2011': 88,
 '09/12/2013': 180,
 '09/12/2016': 328,
 '09/13/2009': 2,
 '09/13/2010': 45,
 '09/13/2012': 132,
 '09/13/2015': 276,
 '09/13/2018': 430,
 '09/14/2009': 3,
 '09/14/2014': 229,
 '09/14/2015': 277,
 '09/14/2017': 380,
 '09/15/2013': 181,
 '09/15/2014': 230,
 '09/15/2016': 329,
 '09/16/2012': 133,
 '09/16/2013': 182,
 '09/16/2018': 431,
 '09/17/2012': 134,
 '09/17/2015': 278,
 '09/17/2017': 381,
 '09/17/2018': 432,
 '09/18/2011': 89,
 '09/18/2014': 231,
 '09/18/2016': 330,
 '09/18/2017': 382,
 '09/19/2010': 46,
 '09/19/2011': 90,
 '09/19/2013': 183,
 '09/19/2016': 331,
 '09/20/2009': 4,
 '09/20/2010': 47,
 '09/20/2012': 135,
 '09/20/2015': 279,
 '09/20/2018': 433,
 '09/21/2009': 5,
 '09/21/2014': 232,
 '09/21/2015': 280,
 '09/21/2017': 383,
 '09/22/2013': 184,
 '09/22/2014': 233,
 '09/22/2016': 332,
 '09/23/2012': 136,
 '09/23/2013': 185,
 '09/23/2018': 434,
 '09/24/2012': 137,
 '09/24/2015': 281,
 '09/24/2017': 384,
 '09/24/2018': 435,
 '09/25/2011': 91,
 '09/25/2014': 234,
 '09/25/2016': 333,
 '09/25/2017': 385,
 '09/26/2010': 48,
 '09/26/2011': 92,
 '09/26/2013': 186,
 '09/26/2016': 334,
 '09/27/2009': 6,
 '09/27/2010': 49,
 '09/27/2012': 138,
 '09/27/2015': 282,
 '09/27/2018': 436,
 '09/28/2009': 7,
 '09/28/2014': 235,
 '09/28/2015': 283,
 '09/28/2017': 386,
 '09/29/2013': 187,
 '09/29/2014': 236,
 '09/29/2016': 335,
 '09/30/2012': 139,
 '09/30/2013': 188,
 '09/30/2018': 437,
 '10/01/2012': 140,
 '10/01/2015': 284,
 '10/01/2017': 387,
 '10/01/2018': 438,
 '10/02/2011': 93,
 '10/02/2014': 237,
 '10/02/2016': 336,
 '10/02/2017': 388,
 '10/03/2010': 50,
 '10/03/2011': 94,
 '10/03/2013': 189,
 '10/03/2016': 337,
 '10/04/2009': 8,
 '10/04/2010': 51,
 '10/04/2012': 141,
 '10/04/2015': 285,
 '10/04/2018': 439,
 '10/05/2009': 9,
 '10/05/2014': 238,
 '10/05/2015': 286,
 '10/05/2017': 389,
 '10/06/2013': 190,
 '10/06/2014': 239,
 '10/06/2016': 338,
 '10/07/2012': 142,
 '10/07/2013': 191,
 '10/07/2018': 440,
 '10/08/2012': 143,
 '10/08/2015': 287,
 '10/08/2017': 390,
 '10/08/2018': 441,
 '10/09/2011': 95,
 '10/09/2014': 240,
 '10/09/2016': 339,
 '10/09/2017': 391,
 '10/10/2010': 52,
 '10/10/2011': 96,
 '10/10/2013': 192,
 '10/10/2016': 340,
 '10/11/2009': 10,
 '10/11/2010': 53,
 '10/11/2012': 144,
 '10/11/2015': 288,
 '10/11/2018': 442,
 '10/12/2009': 11,
 '10/12/2014': 241,
 '10/12/2015': 289,
 '10/12/2017': 392,
 '10/13/2013': 193,
 '10/13/2014': 242,
 '10/13/2016': 341,
 '10/14/2012': 145,
 '10/14/2013': 194,
 '10/14/2018': 443,
 '10/15/2012': 146,
 '10/15/2015': 290,
 '10/15/2017': 393,
 '10/15/2018': 444,
 '10/16/2011': 97,
 '10/16/2014': 243,
 '10/16/2016': 342,
 '10/16/2017': 394,
 '10/17/2010': 54,
 '10/17/2011': 98,
 '10/17/2013': 195,
 '10/17/2016': 343,
 '10/18/2009': 12,
 '10/18/2010': 55,
 '10/18/2012': 147,
 '10/18/2015': 291,
 '10/18/2018': 445,
 '10/19/2009': 13,
 '10/19/2014': 244,
 '10/19/2015': 292,
 '10/19/2017': 395,
 '10/20/2013': 196,
 '10/20/2014': 245,
 '10/20/2016': 344,
 '10/21/2012': 148,
 '10/21/2013': 197,
 '10/21/2018': 446,
 '10/22/2012': 149,
 '10/22/2015': 293,
 '10/22/2017': 396,
 '10/22/2018': 447,
 '10/23/2011': 99,
 '10/23/2014': 246,
 '10/23/2016': 345,
 '10/23/2017': 397,
 '10/24/2010': 56,
 '10/24/2011': 100,
 '10/24/2013': 198,
 '10/24/2016': 346,
 '10/25/2009': 14,
 '10/25/2010': 57,
 '10/25/2012': 150,
 '10/25/2015': 294,
 '10/25/2018': 448,
 '10/26/2009': 15,
 '10/26/2014': 247,
 '10/26/2015': 295,
 '10/26/2017': 398,
 '10/27/2013': 199,
 '10/27/2014': 248,
 '10/27/2016': 347,
 '10/28/2012': 151,
 '10/28/2013': 200,
 '10/28/2018': 449,
 '10/29/2012': 152,
 '10/29/2015': 296,
 '10/29/2017': 399,
 '10/29/2018': 450,
 '10/30/2011': 101,
 '10/30/2014': 249,
 '10/30/2016': 348,
 '10/30/2017': 400,
 '10/31/2010': 58,
 '10/31/2011': 102,
 '10/31/2013': 201,
 '10/31/2016': 349,
 '11/01/2009': 16,
 '11/01/2010': 59,
 '11/01/2012': 153,
 '11/01/2015': 297,
 '11/01/2018': 451,
 '11/02/2009': 17,
 '11/02/2014': 250,
 '11/02/2015': 298,
 '11/02/2017': 401,
 '11/03/2013': 202,
 '11/03/2014': 251,
 '11/03/2016': 350,
 '11/04/2012': 154,
 '11/04/2013': 203,
 '11/04/2018': 452,
 '11/05/2012': 155,
 '11/05/2015': 299,
 '11/05/2017': 402,
 '11/05/2018': 453,
 '11/06/2011': 103,
 '11/06/2014': 252,
 '11/06/2016': 351,
 '11/06/2017': 403,
 '11/07/2010': 60,
 '11/07/2011': 104,
 '11/07/2013': 204,
 '11/07/2016': 352,
 '11/08/2009': 18,
 '11/08/2010': 61,
 '11/08/2012': 156,
 '11/08/2015': 300,
 '11/08/2018': 454,
 '11/09/2009': 19,
 '11/09/2014': 253,
 '11/09/2015': 301,
 '11/09/2017': 404,
 '11/10/2011': 105,
 '11/10/2013': 205,
 '11/10/2014': 254,
 '11/10/2016': 353,
 '11/11/2010': 62,
 '11/11/2012': 157,
 '11/11/2013': 206,
 '11/11/2018': 455,
 '11/12/2009': 20,
 '11/12/2012': 158,
 '11/12/2015': 302,
 '11/12/2017': 405,
 '11/12/2018': 456,
 '11/13/2011': 106,
 '11/13/2014': 255,
 '11/13/2016': 354,
 '11/13/2017': 406,
 '11/14/2010': 63,
 '11/14/2011': 107,
 '11/14/2013': 207,
 '11/14/2016': 355,
 '11/15/2009': 21,
 '11/15/2010': 64,
 '11/15/2012': 159,
 '11/15/2015': 303,
 '11/15/2018': 457,
 '11/16/2009': 22,
 '11/16/2014': 256,
 '11/16/2015': 304,
 '11/16/2017': 407,
 '11/17/2011': 108,
 '11/17/2013': 208,
 '11/17/2014': 257,
 '11/17/2016': 356,
 '11/18/2010': 65,
 '11/18/2012': 160,
 '11/18/2013': 209,
 '11/18/2018': 458,
 '11/19/2009': 23,
 '11/19/2012': 161,
 '11/19/2015': 305,
 '11/19/2017': 408,
 '11/19/2018': 459,
 '11/20/2011': 109,
 '11/20/2014': 258,
 '11/20/2016': 357,
 '11/20/2017': 409,
 '11/21/2010': 66,
 '11/21/2011': 110,
 '11/21/2013': 210,
 '11/21/2016': 358,
 '11/22/2009': 24,
 '11/22/2010': 67,
 '11/22/2012': 162,
 '11/22/2015': 306,
 '11/22/2018': 460,
 '11/23/2009': 25,
 '11/23/2014': 259,
 '11/23/2015': 307,
 '11/23/2017': 410,
 '11/24/2011': 111,
 '11/24/2013': 211,
 '11/24/2014': 260,
 '11/24/2016': 359,
 '11/25/2010': 68,
 '11/25/2012': 163,
 '11/25/2013': 212,
 '11/25/2018': 461,
 '11/26/2009': 26,
 '11/26/2012': 164,
 '11/26/2015': 308,
 '11/26/2017': 411,
 '11/26/2018': 462,
 '11/27/2011': 112,
 '11/27/2014': 261,
 '11/27/2016': 360,
 '11/27/2017': 412,
 '11/28/2010': 69,
 '11/28/2011': 113,
 '11/28/2013': 213,
 '11/28/2016': 361,
 '11/29/2009': 27,
 '11/29/2010': 70,
 '11/29/2012': 165,
 '11/29/2015': 309,
 '11/29/2018': 463,
 '11/30/2009': 28,
 '11/30/2014': 262,
 '11/30/2015': 310,
 '11/30/2017': 413,
 '12/01/2011': 114,
 '12/01/2013': 214,
 '12/01/2014': 263,
 '12/01/2016': 362,
 '12/02/2010': 71,
 '12/02/2012': 166,
 '12/02/2013': 215,
 '12/02/2018': 464,
 '12/03/2009': 29,
 '12/03/2012': 167,
 '12/03/2015': 311,
 '12/03/2017': 414,
 '12/03/2018': 465,
 '12/04/2011': 115,
 '12/04/2014': 264,
 '12/04/2016': 363,
 '12/04/2017': 415,
 '12/05/2010': 72,
 '12/05/2011': 116,
 '12/05/2013': 216,
 '12/05/2016': 364,
 '12/06/2009': 30,
 '12/06/2010': 73,
 '12/06/2012': 168,
 '12/06/2015': 312,
 '12/06/2018': 466,
 '12/07/2009': 31,
 '12/07/2014': 265,
 '12/07/2015': 313,
 '12/07/2017': 416,
 '12/08/2011': 117,
 '12/08/2013': 217,
 '12/08/2014': 266,
 '12/08/2016': 365,
 '12/09/2010': 74,
 '12/09/2012': 169,
 '12/09/2013': 218,
 '12/09/2018': 467,
 '12/10/2009': 32,
 '12/10/2012': 170,
 '12/10/2015': 314,
 '12/10/2017': 417,
 '12/10/2018': 468,
 '12/11/2011': 118,
 '12/11/2014': 267,
 '12/11/2016': 366,
 '12/11/2017': 418,
 '12/12/2010': 75,
 '12/12/2011': 119,
 '12/12/2013': 219,
 '12/12/2016': 367,
 '12/13/2009': 33,
 '12/13/2010': 76,
 '12/13/2012': 171,
 '12/13/2015': 315,
 '12/13/2018': 469,
 '12/14/2009': 34,
 '12/14/2014': 268,
 '12/14/2015': 316,
 '12/14/2017': 419,
 '12/15/2011': 120,
 '12/15/2013': 220,
 '12/15/2014': 269,
 '12/15/2016': 368,
 '12/15/2018': 470,
 '12/16/2010': 77,
 '12/16/2012': 172,
 '12/16/2013': 221,
 '12/16/2017': 420,
 '12/16/2018': 471,
 '12/17/2009': 35,
 '12/17/2011': 121,
 '12/17/2012': 173,
 '12/17/2015': 317,
 '12/17/2016': 369,
 '12/17/2017': 421,
 '12/17/2018': 472,
 '12/18/2011': 122,
 '12/18/2014': 270,
 '12/18/2016': 370,
 '12/18/2017': 422,
 '12/19/2009': 36,
 '12/19/2010': 78,
 '12/19/2011': 123,
 '12/19/2015': 318,
 '12/19/2016': 371,
 '12/20/2009': 37,
 '12/20/2010': 79,
 '12/20/2014': 271,
 '12/20/2015': 319,
 '12/21/2009': 38,
 '12/21/2014': 272,
 '12/21/2015': 320,
 '12/22/2011': 124,
 '12/22/2012': 174,
 '12/22/2013': 222,
 '12/22/2014': 273,
 '12/22/2016': 372,
 '12/22/2018': 473,
 '12/23/2010': 80,
 '12/23/2012': 175,
 '12/23/2013': 223,
 '12/23/2017': 423,
 '12/23/2018': 474,
 '12/24/2011': 125,
 '12/24/2015': 321,
 '12/24/2016': 373,
 '12/24/2017': 424,
 '12/24/2018': 475,
 '12/25/2009': 39,
 '12/25/2010': 81,
 '12/25/2011': 126,
 '12/25/2016': 374,
 '12/25/2017': 425,
 '12/26/2010': 82,
 '12/26/2011': 127,
 '12/26/2015': 322,
 '12/26/2016': 375,
 '12/27/2009': 40,
 '12/27/2010': 83,
 '12/27/2015': 323,
 '12/28/2009': 41,
 '12/28/2010': 84,
 '12/28/2014': 274,
 '12/28/2015': 324,
 '12/29/2013': 224,
 '12/30/2012': 176,
 '12/30/2018': 476,
 '12/31/2017': 426}

Game Time Dictionary
{'12:30:00': 8,
 '13:00:00': 2,
 '16:05:00': 7,
 '16:15:00': 3,
 '16:25:00': 12,
 '16:30:00': 18,
 '19:00:00': 5,
 '19:10:00': 13,
 '19:20:00': 10,
 '19:30:00': 9,
 '20:00:00': 11,
 '20:15:00': 20,
 '20:20:00': 4,
 '20:25:00': 15,
 '20:30:00': 1,
 '20:40:00': 16,
 '22:15:00': 6,
 '22:20:00': 14,
 '23:35:00': 17,
 '9:30:00': 19}

In [487]:
df_clean_columns = df_clean.columns

In [488]:
scaler = preprocessing.MinMaxScaler()
df_clean_array = scaler.fit_transform(df_clean)
df_standard = pd.DataFrame(df_clean_array)

In [489]:
df_standard.columns = df_clean_columns

In [490]:
df_standard.head()

,season,week,siteId,visitorTeamScore,homeTeamScore,HfirstDownsTotal,HfirstDownsByRushing,HfirstDownsByPassing,HfirstdownsByPenalty,HthirdDownAttempted,...,VpuntReturnsTouchdowns,VreceivingReceptions,VreceivingTouchdowns,VreceivingLong,VreceivingYards,VreceivingFumbles,VrecevingAverageYards,VtotalTurnovers,VtotalPointsScored,VtimeOfPossSeconds
0,0.0,0.0,0.922054,0.169492,0.209677,0.400000,0.052632,0.666667,0.0,0.444444,...,0.0,0.487805,0.142857,0.538462,0.476281,0.333333,0.384211,0.250,0.169492,0.417571
1,0.0,0.0,0.224070,0.118644,0.306452,0.400000,0.157895,0.541667,0.1,0.500000,...,0.0,0.463415,0.142857,0.142857,0.347249,0.666667,0.313158,0.500,0.118644,0.441344
2,0.0,0.0,0.565787,0.576271,0.338710,0.600000,0.526316,0.500000,0.2,0.388889,...,0.0,0.341463,0.428571,0.791209,0.683112,0.000000,0.673684,0.000,0.576271,0.359173
3,0.0,0.0,0.393889,0.457627,0.725806,0.657143,0.526316,0.583333,0.2,0.388889,...,0.0,0.341463,0.000000,0.615385,0.402277,0.000000,0.428947,0.375,0.457627,0.267183
4,0.0,0.0,0.395552,0.203390,0.225806,0.457143,0.210526,0.541667,0.2,0.444444,...,0.0,0.292683,0.000000,0.197802,0.244782,0.000000,0.321053,0.000,0.203390,0.346770

In [491]:
df_final = pd.merge(df_objects, df_standard, left_index=True, right_index=True)

In [492]:
df_final.head()

,gameDate,gameTimeEastern,homeNickname,visitorNickname,siteCity,siteState,roofType,season,week,siteId,...,VpuntReturnsTouchdowns,VreceivingReceptions,VreceivingTouchdowns,VreceivingLong,VreceivingYards,VreceivingFumbles,VrecevingAverageYards,VtotalTurnovers,VtotalPointsScored,VtimeOfPossSeconds
0,1,1,29,31,31,1,2,0.0,0.0,0.922054,...,0.0,0.487805,0.142857,0.538462,0.476281,0.333333,0.384211,0.250,0.169492,0.417571
1,2,2,15,13,2,2,1,0.0,0.0,0.224070,...,0.0,0.463415,0.142857,0.142857,0.347249,0.666667,0.313158,0.500,0.118644,0.441344
2,2,2,7,12,38,3,2,0.0,0.0,0.565787,...,0.0,0.341463,0.428571,0.791209,0.683112,0.000000,0.673684,0.000,0.576271,0.359173
3,2,2,27,19,26,4,1,0.0,0.0,0.393889,...,0.0,0.341463,0.000000,0.615385,0.402277,0.000000,0.428947,0.375,0.457627,0.267183
4,2,2,11,17,16,5,3,0.0,0.0,0.395552,...,0.0,0.292683,0.000000,0.197802,0.244782,0.000000,0.321053,0.000,0.203390,0.346770

In [493]:
df_final = pd.merge(df_final, df_outcomes, left_index=True, right_index=True)

In [494]:
df_final.head()

,gameDate,gameTimeEastern,homeNickname,visitorNickname,siteCity,siteState,roofType,season,week,siteId,...,VreceivingReceptions,VreceivingTouchdowns,VreceivingLong,VreceivingYards,VreceivingFumbles,VrecevingAverageYards,VtotalTurnovers,VtotalPointsScored,VtimeOfPossSeconds,outcomes
0,1,1,29,31,31,1,2,0.0,0.0,0.922054,...,0.487805,0.142857,0.538462,0.476281,0.333333,0.384211,0.250,0.169492,0.417571,H
1,2,2,15,13,2,2,1,0.0,0.0,0.224070,...,0.463415,0.142857,0.142857,0.347249,0.666667,0.313158,0.500,0.118644,0.441344,H
2,2,2,7,12,38,3,2,0.0,0.0,0.565787,...,0.341463,0.428571,0.791209,0.683112,0.000000,0.673684,0.000,0.576271,0.359173,V
3,2,2,27,19,26,4,1,0.0,0.0,0.393889,...,0.341463,0.000000,0.615385,0.402277,0.000000,0.428947,0.375,0.457627,0.267183,H
4,2,2,11,17,16,5,3,0.0,0.0,0.395552,...,0.292683,0.000000,0.197802,0.244782,0.000000,0.321053,0.000,0.203390,0.346770,H

In [495]:
len(df_final)

2560

In [496]:
df_final.to_csv("../data/processed/final_standardized_data.csv", index=False)